<h1 class="title";>Ryokan</h1>

<button><%= link_to "List", list_list_path, :class => "header" %></button>

<h1>cunt</h1>
<p>Index page</p>

<form class="search">
  <label for="location" class="long_label">
    <input type="text" id="location" placeholder="Location" class="long_input"/>
  </label>
  <label for="price_min" class="long_label">
    <input type="text" id="price_min" placeholder="Minimum Price" class="long_input"/>
  </label>
  <label for="price_max" class="long_label">
    <input type="text" id="price_max" placeholder="Maximum Price" class="long_input"/>
  </label>
  <button type="submit" class="search_button" name="button" access="false" id="button">Search</button>
</form>

